.card {
  border: 2px solid #3a6d8c;
  border-radius: 10px;
  display: flex;
  padding: 1em 0.5em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card p,
.card h2 {
  width: 20ch;
  text-align: center;
}

.card h2 {
  font-size: 1.25rem;
}

.card button {
  width: fit-content;
  padding: 0.35em;
  background-color: #3a6d8c;
  border: none;
  border-radius: 3px;
  color: #f2f2f2;
}

.card button:hover {
  cursor: pointer;
  background-color: #001F3F;
}

.card img {
  width: 35%;
}

.prizeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .25em;
}

.card hr {
  margin: 0.25em 0;
  width: 100%;
  color: #3a6d8c;
}
