.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.wrapper {
  border: 2px solid #3a6d8c;
  border-radius: 10px;
  padding: 1em;
  margin: 1em auto;
  height: 75vh;
  overflow: auto;
}

.item {
  aspect-ratio: 16 / 9;
  width: 40ch;
  text-align: center;
}

.item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.removeBtnDiv {
  display: flex;
  justify-content: flex-end;
  gap: 2.5em;
  padding-top: .5em;
  padding-bottom: 2em;
}

.removeBtnDiv button {
    background-color: rgb(205, 54, 54);
    color: #f2f2f2;
    padding: .25em .5em;
    border: none;
    border-radius: 3px;
}

.removeBtnDiv button:hover {
    cursor: pointer;
    background-color: rgb(125, 34, 34);
}

input.inputOW {
    max-width: none;
}

.btnOW{
    width: fit-content;
    padding: 0 3em;
}

.btnL {
    justify-self: self-end;
}

.btnR {
    justify-self: self-start;
}

.description {
    border: none;
    background-color: #f2f2f2;
    width: 100%;
}

.description:hover {
    cursor: pointer;
}

.description h3 {
    font-size: 1.15rem;
}

.description hr {
    color: #3a6d8c;
}

.collapse {
    max-height: 0;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}

.payDiv {
    display: flex;
    min-width: 200px;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.payDiv button {
    width: fit-content;
    padding: .5em;
    background-color: #3a6d8c;
    color: #f2f2f2;
    border: none;
    border-radius: 3px;
}

.payDiv button:hover {
    cursor: pointer;
    background-color: #001f3f;
}