.wrapper {
  display: flex;
  background-color: #001f3f;
  color: rgb(170, 170, 170);
  justify-content: space-evenly;
  align-items: center;
  padding: 1em 1.5em;
}

.item {
    display: flex;
    gap: 1em
}