.main {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr;
  gap: 2em;
  padding: 2em 5em ;
  width: 100%;
}

.cardGroup {
  display: grid;
  max-height: 70vh;
  overflow: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
}

