@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/Inter/Inter-VariableFont.ttf")
      format("opentype");
  font-weight: 125 950;
  font-stretch: 75% 125%;

  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
